
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowHeatMap</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    @*jquery*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*mapbox plugins language*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>

    <title>jQuery UI Slider - Range slider</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <div id="map" onclick="remove()"></div>
    <div style="position:absolute;left: 800px;top:500px " id="loading">
        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
    </div>

    <div style="background-color:white; width:400px; height:350px;position:absolute;left:50px;top:50px">
        <div style="margin:10px">
            @*年齡拉霸*@
            <p>
                <label for="amount">Age range:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>

            <div id="slider-range" onmouseup="filter()"></div>
            <br />
            <hr />
            @*性別*@
            <p>Gender:</p>
            <div id="myForm">

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="所有" checked>
                    <label class="form-check-label" for="inlineRadio1">ALL</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="男">
                    <label class="form-check-label" for="inlineRadio2">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="女">
                    <label class="form-check-label" for="inlineRadio3">Female</label>
                </div>
            </div>


            <hr />

            <button onclick="showAgeHeat()" class="btn btn-dark">update</button>


        </div>

    </div>
    <script>
        //要求顯示地圖===========================
        //顯示中文地圖
        mapboxgl.accessToken = 'pk.eyJ1IjoidmVybmFuYW5hbmFuYW5hbmFuYSIsImEiOiJja2VtbjM3MXgwOG53MnlzYWh4b3ozb3l4In0.WV0nJqpHVfMdABV83v_6hQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/dark-v9',
            center: [120.757769, 23.535394],
            zoom: 6
        });
        //改成中文
        var language = new MapboxLanguage({ defaultLanguage: 'zh' });
        map.addControl(language);

        map.on('load', function () {
            // Add a geojson point source.
            // Heatmap layers also work with a vector tile source.
            map.addSource('earthquakes', {
                'type': 'geojson',
                'data':
                    'https://docs.mapbox.com/mapbox-gl-js/assets/earthquakes.geojson'
            });

            map.addLayer(
                {
                    'id': 'earthquakes-heat',
                    'type': 'heatmap',
                    'source': 'earthquakes',
                    'maxzoom': 9,
                    'paint': {
                        // Increase the heatmap weight based on frequency and property magnitude
                        'heatmap-weight': [
                            'interpolate',
                            ['linear'],
                            ['get', 'mag'],
                            0,
                            0,
                            6,
                            1
                        ],
                        // Increase the heatmap color weight weight by zoom level
                        // heatmap-intensity is a multiplier on top of heatmap-weight
                        'heatmap-intensity': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            0,
                            1,
                            9,
                            3
                        ],
                        // Color ramp for heatmap.  Domain is 0 (low) to 1 (high).
                        // Begin color ramp at 0-stop with a 0-transparancy color
                        // to create a blur-like effect.
                        'heatmap-color': [
                            'interpolate',
                            ['linear'],
                            ['heatmap-density'],
                            0,
                            'rgba(33,102,172,0)',
                            0.2,
                            'rgb(103,169,207)',
                            0.4,
                            'rgb(209,229,240)',
                            0.6,
                            'rgb(253,219,199)',
                            0.8,
                            'rgb(239,138,98)',
                            1,
                            'rgb(178,24,43)'
                        ],
                        // Adjust the heatmap radius by zoom level
                        'heatmap-radius': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            0,
                            2,
                            9,
                            20
                        ],
                        // Transition from heatmap to circle layer by zoom level
                        'heatmap-opacity': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            7,
                            1,
                            9,
                            0
                        ]
                    }
                },
                'waterway-label'
            );

            map.addLayer(
                {
                    'id': 'earthquakes-point',
                    'type': 'circle',
                    'source': 'earthquakes',
                    'minzoom': 7,
                    'paint': {
                        // Size circle radius by earthquake magnitude and zoom level
                        'circle-radius': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            7,
                            ['interpolate', ['linear'], ['get', 'mag'], 1, 1, 6, 4],
                            16,
                            ['interpolate', ['linear'], ['get', 'mag'], 1, 5, 6, 50]
                        ],
                        // Color circle by earthquake magnitude
                        'circle-color': [
                            'interpolate',
                            ['linear'],
                            ['get', 'mag'],
                            1,
                            'rgba(33,102,172,0)',
                            2,
                            'rgb(103,169,207)',
                            3,
                            'rgb(209,229,240)',
                            4,
                            'rgb(253,219,199)',
                            5,
                            'rgb(239,138,98)',
                            6,
                            'rgb(178,24,43)'
                        ],
                        'circle-stroke-color': 'white',
                        'circle-stroke-width': 1,
                        // Transition from heatmap to circle layer by zoom level
                        'circle-opacity': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            7,
                            0,
                            8,
                            1
                        ]
                    }
                },
                'waterway-label'
            );


        });

    </script>


    <script>


        var _LocArray = [];

        $(document).ready(function (e) {
            //connectDB();
            $("#loading").hide();
        });

        function connectDB() {
            console.log("connectdb");
            _LocArray = [];

            $.ajax({
                url: "/Home/getAllLocations",
                type: "POST",
                dataType: "json",
                //data: { }
            }).done(function (response) {
                //console.log(response);
                for (var i = 0; i < response.length; i++) {
                    Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                    Id_Location = response[i].fId_Location;

                    locJson =
                    {
                        'type': 'Feature',
                        'properties': {
                            'dbh': 65,

                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': Coords_Location
                        }
                    }
                    _LocArray.push(locJson);
                }//end for
            }).fail(function (xhr) {
                console.log(xhr.status + xhr.responseText);
            });//end ajax
        };

    </script>
    <script>

        function remove() {
            console.log(_LocArray);
            if (map.getLayer("earthquakes-point")) {
                map.removeLayer("earthquakes-point");
            }

            if (map.getLayer("earthquakes-heat")) {
                map.removeLayer("earthquakes-heat");
            }
            if (map.getSource("earthquakes")) {
                map.removeSource("earthquakes");
            }

            console.log("addnewsource");
            map.addSource('earthquakes', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': _LocArray
                }
            });
            map.addLayer({
                'id': 'earthquakes-heat',
                'type': 'heatmap',
                'source': 'earthquakes',
                'maxzoom': 15,
                'paint': {
                    // increase weight as diameter breast height increases
                    'heatmap-weight': {
                        'property': 'dbh',
                        'type': 'exponential',
                        'stops': [
                            [1, 0],
                            [62, 1]
                        ]
                    },
                    // increase intensity as zoom level increases
                    'heatmap-intensity': {
                        stops: [
                            [11, 1],
                            [15, 3]
                        ]
                    },
                    // assign color values be applied to points depending on their density
                    'heatmap-color': [
                        'interpolate',
                        ['linear'],
                        ['heatmap-density'],
                        0, 'rgba(236,222,239,0)',
                        0.2, 'rgb(208,209,230)',
                        0.4, 'rgb(166,189,219)',
                        0.6, 'rgb(103,169,207)',
                        0.8, 'rgb(28,144,153)'
                    ],
                    // increase radius as zoom increases
                    'heatmap-radius': {
                        stops: [
                            [11, 15],
                            [15, 20]
                        ]
                    },
                    // decrease opacity to transition into the circle layer
                    'heatmap-opacity': {
                        default: 1,
                        stops: [
                            [14, 1],
                            [15, 0]
                        ]
                    },
                }
            }, 'waterway-label');

            map.addLayer({
                'id': 'earthquakes-point',
                'type': 'circle',
                'source': 'earthquakes',
                'minzoom': 14,
                'paint': {
                    // increase the radius of the circle as the zoom level and dbh value increases
                    'circle-radius': {
                        'property': 'dbh',
                        'type': 'exponential',
                        'stops': [
                            [{ zoom: 15, value: 1 }, 5],
                            [{ zoom: 15, value: 62 }, 10],
                            [{ zoom: 22, value: 1 }, 20],
                            [{ zoom: 22, value: 62 }, 50],
                        ]
                    },
                    'circle-color': {
                        'property': 'dbh',
                        'type': 'exponential',
                        'stops': [
                            [0, 'rgba(236,222,239,0)'],
                            [10, 'rgb(236,222,239)'],
                            [20, 'rgb(208,209,230)'],
                            [30, 'rgb(166,189,219)'],
                            [40, 'rgb(103,169,207)'],
                            [50, 'rgb(28,144,153)'],
                            [60, 'rgb(1,108,89)']
                        ]
                    },
                    'circle-stroke-color': 'white',
                    'circle-stroke-width': 1,
                    'circle-opacity': {
                        'stops': [
                            [14, 0],
                            [15, 1]
                        ]
                    }
                }
            }, 'waterway-label');



        };
    </script>

    <script>
        var _lower = 25;
        var _upper = 50;
        var _selectedGenderValue = "所有";

        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 100,
                values: [25, 50],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                    _lower = ui.values[0];
                    _upper = ui.values[1];
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));
        });
       
    </script>
    <script>

        $('#myForm input').on('change', function () {
            console.log($('input[name=inlineRadioOptions]:checked', '#myForm').val());
            _selectedGenderValue = $('input[name=inlineRadioOptions]:checked', '#myForm').val();
            _LocArray = [];
            filter();
       

        });


        function filter() {

            console.log("gender:"+ _selectedGenderValue+" upper:"+ _upper+ "lower:"+ _lower);
            _LocArray = [];
            $("#loading").show();
            $.ajax({
                url: "/Statistic/getgenderHeat",
                type: "POST",
                data: { gender: _selectedGenderValue, upper: _upper, lower: _lower },
            }).done(function (response) {
                console.log(response);
                $("#loading").hide();
                for (var i = 0; i < response.length; i++) {
                    Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                    Id_Location = response[i].fId_Location;

                    locJson =
                    {
                        'type': 'Feature',
                        'properties': {
                            'dbh': 65,

                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': Coords_Location
                        }
                    }
                    _LocArray.push(locJson);
                };
                remove();

            }).fail(function (xhr) {
                console.log(xhr.status + xhr.responseText);
            });//end ajax


        };
    </script>


</body>
</html>
