<div>
    <div>
        <h4 id="CreateOrEditRoute">新增路線</h4>
        <div>路線id</div>
        <input name="fId_Route" id="fId_Route" />
        <div>路線名稱</div>
        <input name="fName_Route" id="fName_Route" />
        <div>分享權限</div>
        <input name="fAuth_ShareAuth" id="fAuth_ShareAuth" />
        <div>路線path</div>
        <input name="fPath_Route" id="fPath_Route" />
        <div>路線簡介</div>
        <input name="fDescript_Route" id="fDescript_Route" />
        <div class="columns" id="columns"></div>
    </div>
    <div>
        <button type="button" onclick="CreateLine()" style="position:relative; bottom: 10px; right: 10px">預覽路線</button>
        <button type="button" onclick="UpLoadRouteFormButton()" id="create2" style="position:relative; bottom: 10px; right: 10px">確定</button>
        <button type="button" onclick="EditRouteFormButton()" id="save2" style="position:relative; bottom: 10px; right: 10px">編輯存檔</button>
    </div>
</div>
