@using homepage.Models

<div class="wrap-input2">
    <div id="createOrEditA" style="text-align:center;font-weight:bold; font-size:22px;">
        <h3>新增相簿</h3>
    </div>
</div>



<div style="display:none">
    <div>相簿id</div>
    <input name="fId_Album" id="fId_Album" />
</div>

<div class="wrap-input2">
    <div>
        <h4 style="font-weight:bold">相簿名稱</h4>
    </div>
    <input class="input2" type="text" name="fName_Album" id="fName_Album">
    <span class="focus-input2"></span>
</div>

<div class="wrap-input2">
    <div>
        <h4 style="font-weight:bold">相簿敘述</h4>
    </div>
    <textarea class="input2" name="fDescript_Album" id="fDescript_Album"></textarea>
    <span class="focus-input2"></span>
</div>
<div class="wrap-input2">
    <div>
        <h4 style="font-weight:bold">與誰分享</h4>
    </div>
    <select id="selectorA" name="fId_ShareAuth">
        <option id="Public" value=3 selected="selected">公開</option>
        <option id="Follower" value=2>粉絲</option>
        <option id="Private" value=1>私人</option>
    </select>
</div>
<div class="wrap-input2">
    <div>
        <h4 style="font-weight:bold">是否刪除</h4>
    </div>
    <input type="checkbox" name="fDelete_Album" id="checkboxa" onclick="IfDeleteAlbum()"><span style="font-size:18px;">刪除(請打勾)</span>
</div>
<div class="wrap-input2">
    <div>
        <h4 style="font-weight:bold">將地點加入相簿</h4>
    </div>
    <div id="aloc" style="font-size:18px;"></div>
</div>

<div class="sureOrEdit">
    <button type="button" onclick="addAlbumFormButton()" id="createa" class="btn btnsureedit">確定</button>
    <button type="button" onclick="editAlbumFormButton()" id="savea" class="btn btnsureedit">編輯儲存</button>
</div>

<div>
    <button type="button"  id="demoAlbum" class="btn btndemoa">Demo</button>
</div>

<script>
//demo相簿
    $("#demoAlbum").click(function () {
        $("#fDescript_Album").val("九份好好玩");
        $("#fName_Album").val("九份相信是旅人耳熟能詳的景點，玩樂九份，通常一定會去逛九份老街，老街美食林立，舊時巷弄裡也有不少唯美的景觀餐廳，來訪可以漫遊壯麗的九份山城，白天與晚上的景緻大不相同，都值得一訪。");
        $("#fId_Role").val(@Session[CDictionary.SK_ActiveRoleId]);
    });   
</script>