@using homepage.Models

<link href="~/css/CreateOrEditLocForm.css" rel="stylesheet" />
<style>
   
</style>

<div>
    <div>
        <div class="form-group CreateOrEditRoute">
            <h3 id="CreateOrEditRoute">新增路線</h3>
        </div>

        @* !!! *@
        <div style="display:none">
            <div>使用者id</div>
            <input name="fId_Role" id="fId_Roles" />@Session[CDictionary.SK_ActiveRoleId]
            <div>路線id</div>
            <input name="fId_Route" id="fId_Route" />
            <div>路線path</div>
            <input name="fPath_Route" id="fPath_Route" />
        </div>
        @* !!! *@
        <div class="form-group">
            <div style="font-weight:bold"><h4>路線名稱</h4></div>
            <input name="fName_Route" id="fName_Route" class="form-control" placeholder="Your Route Name *" />
        </div>
        <div class="form-group">
            <div style="font-weight:bold"><h4>路線簡介</h4></div>
            <textarea name="fDescript_Route" id="fDescript_Route" class="form-control" placeholder="Your Route Descript *" style="height:100px;"></textarea>
        </div>
        <div class="form-group">
            <div style="font-weight:bold"><h4>與誰分享</h4></div>
            <select id="selectorR" name="fId_ShareAuth">
                <option id="Public" value=3 selected="selected">公開</option>
                <option id="Follower" value=2>粉絲</option>
                <option id="Private" value=1>私人</option>
            </select>
        </div>
        <div class="form-group">
            <div style="font-weight:bold"><h4>是否刪除</h4></div>
            <input type="checkbox" name="fDelete_Route" id="checkboxes" onclick="IfDeleteRoute()"><span style="font-size:16px;">刪除(請打勾)</span>
        </div>
        <div class="columns" id="columns"></div>
    </div>
    <div style="float:right;">
        <button type="button" onclick="CreateLine()" class="btn btnsureedit">預覽路線</button>
        <button type="button" onclick="UpLoadRouteFormButton()" id="create2" class="btn btnsureedit">確定</button>
        <button type="button" onclick="EditRouteFormButton()" id="save2" class="btn btnsureedit">編輯存檔</button>
    </div>
    <div>
        <button type="button" id="demoRoute" class="btn btndemor">Demo</button>
    </div>
</div>

<script>
    //demo路線
    $("#demoRoute").click(function () {
        $("#fName_Route").val("九份半日遊");
        $("#fDescript_Route").val("新北九份相信是旅人耳熟能詳的景點，玩樂九份，通常一定會去逛九份老街，老街美食林立，舊時巷弄裡也有不少唯美的景觀餐廳，來訪可以漫遊壯麗的九份山城，白天與晚上的景緻大不相同，都值得一訪。另外~除了老街之外，其實九份老街周邊還有很多特色美景，常聽到人家說的水金九一日遊，其實就是在說瑞芳水湳洞、金瓜石和九份地區，水金九沿途景緻幽美，還有很多值得走訪的森林步道和觀景台，");

        $("#fName_Location" + 0).val("礦工餐廳");
        $("#fDescript_Location" + 0).val("位於台揚停車站內的礦工餐廳有各式各樣的台式合菜，可容納200人，許多日韓觀光客都會在這裡吃飽午餐稍作休息後，從九份派出所出發開始探索九份之美。");
        $("#header" + 0).text("礦工餐廳");

        $("#fName_Location" + 1).val("昇平戲院");
        $("#fDescript_Location" + 1).val("九份原本是生產樟腦的小村落，大約1890年代發現金礦之後，開始大量湧入掏金者繁華一時，昇平戲院在1934年興建，頓時成為台北人最多的戲院之一，現在成為博物館，大家可以免費進去參觀老電影的魅力喔。");
        $("#header" + 1).text("昇平戲院");

        $("#fName_Location" + 2).val("阿妹茶樓");
        $("#fDescript_Location" + 2).val("九份地標性的建築物，聽說日本名導演宮崎駿也曾來過這裡觀摩，外型酷似神隱少女中湯婆婆的湯屋，所以很多人會在阿妹茶樓門口旁邊的平台上合照留影，據說無臉男可以變出金子也是基於九份產金的特性。");
        $("#header" + 2).text("阿妹茶樓");

        $("#fName_Location" + 3).val("阿柑姨芋圓");
        $("#fDescript_Location" + 3).val("滾水免解凍直接下鍋，浮起拌入砂糖即可，Q彈可口搭配鮮明地瓜、芋頭香氣，號稱九份芋圓始祖果真厲害。");
        $("#header" + 3).text("阿柑姨芋圓");

        $("#fId_Role").val(@Session[CDictionary.SK_ActiveRoleId]);
    });
</script>
