@using homepage.Models

    <h3 id="CreateOrEdit">新增地點</h3>
    <div class="column1" style="background-color:wheat; display:none">        
        <br />          
        人<input name="fId_Role" id="fId_Role" readonly/>@Session[CDictionary.SK_ActiveRoleId]
        <span>地點id: </span>
        <input id="fId_Location" class="fId_LocationClass" style="color: green" name="fId_Location" readonly />        
        <span>座標</span>        
        <span id="info3" style="background-color:bisque"></span>
        x :<input name="fX_Coordinate" id="fx_Coordinate" readonly />
        y :<input name="fY_Coordinate" id="fy_Coordinate" readonly />
    </div>
        <div class="column1" style="background-color:wheat">
            <div>
                <span class="close" id="closeAddLocationForm">&times;</span>
            </div>
            <span>地點</span>
            <br />
            <span>地名：</span>
            <input name="fName_Location" id="LocationName" />
            <br />
            <span>地點描述：</span>
            <input name="fDescript_Location" id="fDescript_Location" />
        </div>
 
  
    <div class="column2" style="background-color:wheat;">

        <p>上傳照片</p>
        <br />
        <input type="file" accept="image/*" onchange="loadFile(event)" name="PostImage" id="uploadPhoto">
        <img id="output" src="../Content/userPhoto.png" style="width:300px;height:200px;border:dotted" />
        <br>
        <br />

    </div>

    <div class="column2" style="background-color:wheat">
        <span>與誰分享</span>
        <select id="selector" name="fId_ShareAuth">
            <option id="Public" value=3 selected="selected">公開</option>
            <option id="Follower" value=2>粉絲</option>
            <option id="Private" value=1>私人</option>
        </select>
        <br />
        <input type="checkbox" name="fDelete_Location" id="checkbox" onclick="IfDelete()">是否刪除(請打勾)
        <br />
        <br />
        <br />
        <button type="button" onclick="UpLoadLoctionFormButton()" id="create" style="position:relative; bottom: 10px; right: 10px">確定</button>
        <button type="button" onclick="EditLoctionFormButton()" id="save" style="position:relative; bottom: 10px; right: 10px">編輯存檔</button>
    </div>
