
<style>
    .comments-section {
        background: #F3D5B5;
        width:90%;
    }

    .comment-area {
        margin-top: 5px;
        background: #FFBF69;
        border: medium none;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        color: white;
        float: left;
        font-family: Lato;
        font-size: 14px;
        height: inherit;
        letter-spacing: 0.3px;
        padding: 10px 20px;
        width: 90%;
        height: 100%;
        resize: vertical;
        outline: none;
        border: 3px solid #f2f3f5;
        float:left;
        height:75px;
    }

    .comment-btn {
        float: right;
        background: #4CAF50;
        margin: 25px 5px;
        padding: 6px 15px;
        color: #fff;
        letter-spacing: 1.5px;
        outline: none;
        border-radius: 4px;
        box-shadow: none;
    }

        .comment-btn:hover, .comment-btn:focus {
            background: #2E7D32;
            outline: none;
            border-radius: 4px;
            box-shadow: none;
        }

    .comment-box-wrapper {
        display: flex;
        flex-direction: column;
        width: 94%;
        margin: 5px 0px;
    }

    .comment-box {
        display: flex;
        width: 94%;
        margin-top: 8px;
    }

        .comment-box a {
            color: #242475;
        }

    .commenter-image {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .comment-content {
        display: flex;
        flex-direction: column;
        background: #f2f3f5;
        margin-left: 2px;
        padding: 4px 10px;
        border-radius: 10px;
        width:inherit;
    }

    .commenter-head {
        display: block;
    }


        .commenter-head .commenter-name {
            font-size: 0.9rem;
            font-weight: 600;
        }




    .comment-date {
        font-size: 0.7rem;
    }

        .comment-date i {
            margin: 0 5px 0 10px;
        }

    .comment-body {
        padding: 0 0 0 5px;
        display: flex;
        font-size: 1rem;
        font-size: 0.8rem;
        font-weight: 100;
        color: black;
    }

    .comment-footer {
        font-size: 0.8rem;
        font-weight: 300;
    }

        .comment-footer span {
            margin: 0 15px 0 0;
        }

            .comment-footer span a {
                margin: 0 0px 0 2px;
            }


            .comment-footer span.comment-likes .active .fa-heart {
                color: black;
                font-size: 1rem;
            }



    .nested-comments {
        margin-left: 30px;
    }

    .com{
        height:80px;
        position:relative;
    }

    .btn_Com {
        position: absolute;
        float: left;
        right: 2px;
        bottom: 2px;
        background-color: #FF9F1C;
        border-bottom: solid 2px #603808;
        padding:3px;
        text-align:center;
        margin-left:3px;
    }
</style>

<div class="Info_lr" id="infoi">
    <div>
        <span class="close" id="closeInforForm">&times;</span>
    </div>
    <div id="id_location" class="id_location" style="display:none"></div>
    <div class="name_follow">
        <div id="name_role" class="name_role"></div>@*發文者名稱*@
        <div>
            <button id="addfollowbtn" class="addfollowbtn btn btn_Rou" onclick="addfollower()"></button>
        </div>
    </div>

    <div id="auth_lr" class="auth_lr"></div>@*分享權限*@
    <img id="photo_lr" class="photo_lr" />@*照片*@
    <div id="name_lr" class="name_lr"></div>@*名稱*@
    <div id="descript_lr" class="descript_lr"></div>@*簡介*@
    <div id="time_lr" class="time_lr"></div>@*時間*@
    <div id="loc" class="loc"></div>@*如為路線，才會塞入地點資訊*@
    <div class="container" style="width:560px;" >
        <div class="row d-flex align-items-center">

            <div class="col-md-6 comments-section" >
                <!--====COMMENT AREA START====-->
                <div class="com">
                    <textarea id="CommentTextArea" class="comment-area"></textarea>
                    <button type="button" class="btn btn_Com" onclick="changeCommentText()">送出</button>
                </div>
                <!-- =======COMMENTS START=======-->
                <div class="col-12" id="Comment">
                    @*<div class="comment-box-wrapper">
                    <div class="comment-box">
                        <img src="https://cdn.pixabay.com/photo/2017/04/06/19/34/girl-2209147_960_720.jpg" class="commenter-image" alt="commenter_image">
                        <div class="comment-content">
                            <div class="commenter-head">
                                <span class="commenter-name"><a href="">Eliza Gautam</a></span>

                            </div>
                            <div class="comment-body">
                                <span class="comment" id="aaa">你的路線真棒</span>
                            </div>
                            <div class="comment-footer">

                            </div>
                        </div>
                    </div>
                </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addfollower() {
        $.ajax({
            url: "/Home/addfollower",
            type: "POST",
            dataType: "text",
            data: {
                statestring: $("#addfollowbtn").html(),
                myID: $("#active_role").val(),
                Loction_Id: $("#id_location").text()
            },
            success: function (response) {
                console.log(response);
                $("#addfollowbtn").html(response);
            }
        });
    };
    function changeCommentText() {

        var CommentS = document.getElementById("CommentTextArea");
        var CommentString = CommentS.value;
        var CMT = '<div class="comment-box-wrapper">';
        CMT += '<div class="comment-box">';
        CMT += ' <img src="https://i.imgur.com/vyWwMlr.png" class="commenter-image" alt="commenter_image">';
        CMT += '<div class="comment-content">';
        CMT += ' <div class="commenter-head">';
        CMT += '  <span class="commenter-name"><a href="">';
        CMT += document.getElementById("active_role_name").innerHTML;
        CMT += '</a ></span > ';
        CMT += ' <span class="comment-date"><i class="far fa-clock"></i>剛剛</span>';
        CMT += '    </div>';
        CMT += ' <div class="comment-body">';
        CMT += '<span class="comment">' + CommentString + '</span>';
        CMT += '</div>';
        CMT += '  <div class="comment-footer">';
        CMT += '</div>';
        CMT += ' </div>';
        CMT += '</div>';
        CMT += '  </div>';
        $("#Comment").append(CMT);
        CommentS.value = "";




        $.ajax({
            url: "/Home/CommentTextWrite",
            type: "POST",
            dataType: "json",
            data: {
                role_id: $("#active_role").val(),
                CString: CommentString,
                Loction_Id: $("#id_location").text()

            },
            success: function (response) {

            }
        });

        document.getElementById('infoi').scrollTop = document.getElementById('infoi').scrollHeight;
    }
</script>