


<div style="position:absolute;top:120px;width:500px;height:720px;overflow:scroll" class="Info_lr" id="infoi">
    <div>
        <span class="close" id="closeInforForm">&times;</span>
    </div>
    <div id="name_role" class="name_role"></div>@*發文者名稱*@
    <div id="auth_lr" class="auth_lr"></div>@*分享權限*@
    <img id="photo_lr" class="photo_lr" />@*照片*@
    <div id="name_lr" class="name_lr"></div>@*名稱*@
    <div id="descript_lr" class="descript_lr"></div>@*簡介*@
    <div id="loc" style="color:chocolate; font-size:medium;"></div>@*如為路線，才會塞入地點資訊*@
    <div id="time_lr" class="time_lr"></div>@*時間*@
    <p>Comment</p>
    <div></div>
    <form id="commentForm">
     
        <button>送出</button>

    </form>

</div>
<script>
     
</script>