@model homepage.ViewModel.CMapItem


<div class="container" style="width: 280px;">

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#locationshow">地點</a>
        </li>
        <li>
            <a data-toggle="tab" href="#rountshow">路線</a>
        </li>
    </ul>

    <div class="tab-content" style="width: 280px;">
        <div id="locationshow" class="tab-pane fade in active">

        </div>
        <div id="rountshow" class="tab-pane fade">

        </div>
    </div>
</div>