
<div class="albums" id="albums">
    <div style="margin:5px;">
        <h2 class="albumsName">我的相簿</h2>
    </div>
    <span class="albumsclose close" onclick="setDivDisplay('albums', 'none')">&times;</span>
    <div class="albumList" id="albumList"></div>
    <div class="albumDetail" id="albumDetail">
        <div id="showBackToAlbumListButton"></div>
        <div class="Info_alist" id="Info_alist"></div>
    </div>
</div>


<div class="albums" id="albumsfr">
    <div style="margin:5px;">
        <h2 class="albumsName">追蹤中的相簿</h2>
    </div>
    <span class="albumsclose close" onclick="setDivDisplay('albumsfr', 'none')">&times;</span>
    <div class="albumList" id="albumListfr"></div>
    <div class="albumDetail" id="albumDetailfr">
        <div id="showBackToAlbumListButtonfr"></div>
        <div class="Info_alist" id="Info_alistfr"></div>
    </div>
</div>