
<div class="albums" id="albums">
    <div>
        <span class="albumsName">我的相簿</span>
        <span class="albumSort">排序</span>
    </div>
    <span class="albumsclose close" onclick="setDivDisplay('albums', 'none')">X</span>
    <div class="albumList" id="albumList"></div>
    <div class="albumDetail" id="albumDetail">
        <div>
            <button type="button" class="btn btn-info" onclick="backToAlbumList()">返回相簿列表</button>
        </div>
        <div class="Info_alist" id="Info_alist"></div>
    </div>
</div>
